html, body {
	padding: 1em;
	margin: 0 auto;
	background: #FFFFE0;
}

.greet{
	text-align: right;
}

.name{
	color: green;
}

.warn{
	color: red;
}	

#answer{
	color: #000000;
	font: 18px "Fira Sans", sans-serif;	
	width: 650px;
	padding: 10px;
	margin: auto;
	background: #FAFAD2;
	border: 3px  solid #FFD700;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	z-index:100;
}

#answer input[type=submit] {
	height: 40px;
	position: relative;
	border: 2px  solid #FFD700;
	background: #FFFFFF;
	color:#000000;
	display: inline-block;
	font: 18px "Fira Sans", sans-serif;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	outline: none;
}

#answer input[type=submit]:hover {
	border: 2px  solid #FFD700;
	background: #FFFFFF;
	color:#000000;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display: inline-block;
	outline: none;
}
table{
	font: 16px "Fira Sans", sans-serif;
	text-align: center;
}
