html, body {
	padding: 1em;
	margin: 0 auto;
	background: #FFFFE0;
}
p{
	color:#000000;
	font: 18px "Fira Sans", sans-serif;
}
#faq{
	font: 14px "Fira Sans", sans-serif;
	text-align: right;
}
#form{
	width: 650px;
	padding: 10px;
	margin: auto;
	background: #FAFAD2;
	border: 3px  solid #FFD700;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	z-index:100;
}

#form label{
	font: 18px "Fira Sans", sans-serif;
	
}

#form input[type=text]{
	text-align: center;
	font: 16px "Fira Sans", sans-serif;
	height: 40px;
	width: 274px;
	border: 2px  solid #FFD700;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	z-index:100;
	outline: none;
}

#form input[type=number]{
	text-align: center;
	font: 16px "Fira Sans", sans-serif;
	height: 30px;
	width: 150px;
	border: 2px  solid #FFD700;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	z-index:100;
	outline: none;
}


#form input[type=submit] {
	height: 40px;
	position: relative;
	border: 2px  solid #FFD700;
	background: #FFFFFF;
	color:#000000;
	display: inline-block;
	font: 18px "Fira Sans", sans-serif;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	outline: none;
}

#form input[type=submit]:hover {
	border: 2px  solid #FFD700;
	background: #FFFFFF;
	color:#000000;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display: inline-block;
	outline: none;
}

#form input[type=reset] {
	height: 40px;
	position: relative;
	border: 2px  solid #FFD700;
	background: #FFFFFF;
	color:#000000;
	display: inline-block;
	font: 18px "Fira Sans", sans-serif;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	outline: none;
}

#form input[type=reset]:hover {
	border: 2px  solid #FFD700;
	background: #FFFFFF;
	color:#000000;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	display: inline-block;
	outline: none;
}
#form input[type=checkbox] {
	transform: scale(1.5);
	margin: 10px 10px 10px 5px;
}